@font-face {
   font-family: 'Day Roman Light';
   src: url('DAYROM__.ttf') format('truetype');
}

body{
	padding: 0;
	margin:0;
	background-color: #454658;
	
}

/*Menu do portfólio*/

#menu {
	list-style: none;
	background-color: #292638;
	text-align: right;
	padding: 0;
	margin: 0;
}

 nav ul {
	list-style: none;
	background-color: #292638;
	text-align: right;
	padding: 0;
	margin: 0;
}

nav li {
	font-family: 'Roboto';
	font-size: 1.3em;
	line-height: 40px;
	height: 40px;
}

nav a {
	text-decoration: none;
	color: #fff;
	display: block;
	transition: 1s background-color;
	position: absolute;

}

nav a:hover {
	background-color: #454658;
}

nav a:focos {
	background-color: #fff;
	color:  #444;
	cursor:  default;
}

@media screen and (min-width: 600px){
	nav li {
		width: 130px;
		height: 50px;
		line-height: 50px;
		font-size:1.3em;
	}
	nav li {
		display: inline-block;
		margin-right: -4px;

	}
}

/* banner*/

#banner{
	height: 400px;
	margin:0px;
}

#banner img{
	height:100%;
	margin: 0;
	padding: 10px 200px;
}

#descricao{
	width: 30%;
	float: right;
}

#ola{
	text-align: right;
	padding-right: 245px;
}

/*Bloco*/

#bloco{
	color: #292638;
	margin:0px;
	padding: 0px;
	background-color: #292638;
	height: 50px;
	line-height: 50px;
	cursor:  default;
}

/*Projetos*/

#texto_projeto{
	text-align: center;
	font-family: 'Day Roman';
	color: #21c1da;
}

.projetos img{
	height: 200px;
	padding: 20px;
}

/*Bloco*/

#segundo_bloco{
	color: #292638;
	margin:0px;
	padding: 0px;
	background-color: #292638;
	height: 50px;
	line-height: 50px;
	cursor:  default;
}

/*Rodapé*/

p {
	color: #fff;
}

.rodape{
	margin: 0px;
	padding: 0px;
	text-align: center;
	background-color: #454658;
	line-height: 50px;
}